boto3
Flask
flask
Flask-Session
python-dotenv
langchain-huggingface
langchain-community
requests
faiss-cpu
flask_session
pandas
flask_cors
langdetect==1.0.9
nltk
scikit-learn
sentence-transformers
langchain>=0.2.2
faiss-cpu
transformers
torch